@model IEnumerable<Conference>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Conference c in Model)
        {
            <tr>
                <td>@c.Name</td>
                <td>@c.Description</td>
                <td>@c.StartDate.ToShortDateString()</td>
                <td>@c.EndDate.ToShortDateString()</td>
                <td>
                    <a asp-controller="Conference"
                       asp-action="ViewConference"
                       asp-route-id="@c.ID"
                       class="btn btn-secondary">View</a>
                </td>
                <td>
                    <a asp-controller="Conference"
                       asp-action="EditConference"
                       asp-route-id="@c.ID"
                       class="btn btn-danger">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>