@model ConferenceViewModel
@{
    ViewBag.Title = "Manage Venues";
}
<h1>@ViewBag.Title</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Postal Code</th>
            <th>Phone</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model.Venues)
        {
            <tr>
                <td>@v.Venue.Name</td>
                <td>@v.Venue.Address1 @(v.Venue.Address2 != null ? v.Venue.Address2 : "" )</td>
                <td>@v.Venue.City</td>
                <td>@v.Venue.State</td>
                <td>@v.Venue.PostalCode</td>
                <td>@v.Venue.Phone</td>
                <td>
                    <a asp-action="EditVenue"
                       asp-route-id="@v.Venue.ID"
                       class="btn btn-secondary">Edit</a>
                </td>
                <td>
                    <a asp-action="DeleteVenue"
                       asp-route-id="@v.Venue.ID"
                       class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="AddVenue" class="btn btn-secondary mb-3">Add Venue</a>