@model IEnumerable<Presentation>
@{
    ViewBag.Title = "Manage Presentations";
}
<h1>@ViewBag.Title</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Conference</th>
            <th>Name</th>
            <th>Description</th>
            <th>Presenter</th>
            <th>Start</th>
            <th>End</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Presentation p in Model)
        {
        <tr>
            <!--<td>p.Conference.Name</td>-->
            <td>@p.Name</td>
            <td>@p.Description</td>
            <td>@p.Attendee.FirstName @p.Attendee.LastName</td>
            <td>@p.StartTime.ToShortDateString() <br /> @p.StartTime.ToShortTimeString()</td>
            <td>@p.EndTime.ToShortDateString() <br /> @p.EndTime.ToShortTimeString()</td>
            <td>
                <a asp-action="EditPresentation"
                   asp-route-id="@p.ID"
                   class="btn btn-secondary">Edit</a>
            </td>
            <td>
                <a asp-action="DeletePresentation"
                   asp-route-id="@p.ID"
                   class="btn btn-danger">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<a asp-action="AddPresentation" class="btn btn-secondary mb-3">Add Presentation</a>
