@model IEnumerable<Room>
@{
    ViewBag.Title = "Manager Room";
}
<h1>@ViewBag.Title</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Venue</th>
            <th>Max Theater</th>
            <th>Max Schoolroom</th>
            <th>Max Crescent Rounds</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Room r in Model)
        {
            <tr>
                <td>@r.Name</td>
                <td>@r.Venue.Name</td>
                <td>@r.TheatreCapacity</td>
                <td>@r.SchoolRoomCapacity</td>
                <td>@r.CrescentRoundCapacity</td>
                <td>
                    <a asp-action="EditRoom"
                        asp-route-id="@r.ID"
                        class="btn btn-secondary">Edit</a>
                </td>
                <td>
                    <a asp-action="DeleteRoom"
                        asp-route-id="@r.ID"
                        class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="AddRoom" class="btn btn-secondary mb-3">Add Room</a>