@model Attendee

@{
    ViewBag.Title = "Edit Attendee";
}

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<h1>@ViewBag.Title</h1>

<form asp-action="SaveAttendee" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row form-group">
        <div class="col-sm-6">
            <label asp-for="FirstName">First Name</label>
            <input asp-for="FirstName" class="form-control" />
        </div>
        <div class="col-sm-3">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-6">
            <label asp-for="LastName">Last Name</label>
            <input asp-for="LastName" class="form-control" />
        </div>
        <div class="col-sm-3">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-6">
            <label asp-for="Phone">Phone Number</label>
            <input asp-for="Phone" class="form-control" />
        </div>
        <div class="col-sm-3">
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-6">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="col-sm-3">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-6">
            <label asp-for="IsPresenter">Is @Model.FullName a presenter?</label>
            <select asp-for="IsPresenter" class="form-control">
                <option value="@Model.IsPresenter">@(Model.IsPresenter == true ? "Yes" : "No")</option>
                <option value="@(Model.IsPresenter == true ? false : true)">@(Model.IsPresenter == true ? "No" : "Yes")</option>
            </select>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-6">
            <label asp-for="IsStaff">Is @Model.FullName a staff member?</label>
            <select asp-for="IsStaff" class="form-control">
                <option value="@Model.IsStaff">@(Model.IsStaff == true ? "Yes" : "No")</option>
                <option value="@(Model.IsStaff == true ? false : true)">@(Model.IsStaff == true ? "No" : "Yes")</option>
            </select>
        </div>
    </div>
    <input type="hidden" asp-for="AttendeeID" />
    <input type="hidden" asp-for="DateRegistered" />
    <button type="submit" class="btn btn-secondary">Save</button>
    <a asp-action="ListAttendees" class="btn btn-danger">Cancel</a>
</form>